#main {
  margin: 25%
}

#expression {
  text-align: center;
  font-size: xx-large;
  height: 50px;
}

label {
 font-size: smaller;
 font-weight: 200;
}

#output {
  margin-top: 5%;
}

table th, table td {
  text-align: center;
}

